Agent Session Logger.json
{
  "name": "Agent Session Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-logger",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "8a01c88f-633e-4944-ad21-ee3dd0fbbe34",
      "name": "Agent Session Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        260
      ],
      "webhookId": "45165d52-770a-440a-a4b7-2e628218c29b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "session-end",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "9b12d99c-744f-4c55-bc22-ff4ee7d9c890",
      "name": "Session End Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        460
      ],
      "webhookId": "8e34f12a-901b-4d66-a7c3-1b5ee2a8d901"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agent_type",
              "name": "agent_type",
              "value": "={{ $json.body.agent_type || 'claude-code' }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.body.user_id || 'local_user' }}",
              "type": "string"
            },
            {
              "id": "project",
              "name": "project",
              "value": "={{ $json.body.project || 'finderskeepers-v2' }}",
              "type": "string"
            },
            {
              "id": "context",
              "name": "context",
              "value": "={{ $json.body.context }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "10b19caa-5161-4c57-86de-ba3b0fb0bb63",
      "name": "Transform Session Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_sessions (\n    agent_type, \n    user_id, \n    project, \n    context, \n    status,\n    start_time\n) VALUES (\n    '{{ $('Transform Session Data').item.json.agent_type }}',\n    '{{ $('Transform Session Data').item.json.user_id }}',\n    '{{ $('Transform Session Data').item.json.project }}',\n    '{{ JSON.stringify($('Transform Session Data').item.json.context || {}) }}',\n    'active',\n    NOW()\n) RETURNING session_id",
        "options": {}
      },
      "id": "3d0d3f6f-b734-489a-965a-2f6311bc82d5",
      "name": "Create Session in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -240,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "finderskeepers_postgres", 
          "name": "FindersKeepers PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Agent session logged successfully",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $('Create Session in Database').item.json.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e6bbb122-7aeb-46a2-bdb7-d80cf50d6ac8",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $json.body.session_id }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.body.status || 'ended' }}",
              "type": "string"
            },
            {
              "id": "end_time",
              "name": "end_time",
              "value": "={{ $json.body.end_time }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ $json.body.reason || 'graceful_shutdown' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7c45e88b-9a12-4f67-8d34-2e5bb1c8f901",
      "name": "Transform Session End Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id,\n    message_type,\n    content,\n    context,\n    reasoning,\n    tools_used,\n    files_referenced,\n    created_at\nFROM conversation_messages \nWHERE session_id = '{{ $('Transform Session End Data').item.json.session_id }}'\nORDER BY sequence_number ASC",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Get Session Conversations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -240,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "finderskeepers_postgres", 
          "name": "FindersKeepers PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $('Transform Session End Data').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "conversation_messages",
              "name": "conversation_messages", 
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "total_messages",
              "name": "total_messages",
              "value": "={{ $items('Get Session Conversations').length }}",
              "type": "number"
            },
            {
              "id": "end_time",
              "name": "end_time",
              "value": "={{ $('Transform Session End Data').item.json.end_time }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ $('Transform Session End Data').item.json.reason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Prepare Conversation Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_messages",
              "leftValue": "={{ $json.total_messages }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h8i9j0k1-l2m3-4567-hijk-890123456789",
      "name": "Check If Messages Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        460
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "conversation_messages",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Split Conversation Messages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        280,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_messages (\n    message_id,\n    session_id, \n    message_type, \n    content, \n    context, \n    reasoning, \n    tools_used, \n    files_referenced\n) VALUES (\n    'msg_' || extract(epoch from now()) || '_' || substr(md5(random()::text), 1, 8),\n    '{{ $json.session_id }}',\n    '{{ $json.message_type }}',\n    '{{ $json.content }}',\n    '{{ JSON.stringify($json.context || {}) }}',\n    '{{ $json.reasoning || \"\" }}',\n    '{{ JSON.stringify($json.tools_used || []) }}',\n    '{{ JSON.stringify($json.files_referenced || []) }}'\n)",
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Log Individual Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        360,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "finderskeepers_postgres", 
          "name": "FindersKeepers PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no_more_messages", 
              "leftValue": "={{ $json.total_messages || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Check If All Messages Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agent_sessions \nSET \n    status = 'ended',\n    end_time = '{{ $('Transform Session End Data').item.json.end_time }}',\n    termination_reason = '{{ $('Transform Session End Data').item.json.reason }}',\n    updated_at = NOW()\nWHERE session_id = '{{ $json.session_id }}' AND status = 'active'",
        "options": {}
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "name": "End Session in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        760,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "finderskeepers_postgres", 
          "name": "FindersKeepers PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "=Session {{ $('Prepare Conversation Data').item.json.session_id }} terminated successfully with {{ $('Prepare Conversation Data').item.json.total_messages }} conversation messages logged",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $('Prepare Conversation Data').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ $('Prepare Conversation Data').item.json.reason }}",
              "type": "string"
            },
            {
              "id": "messages_logged",
              "name": "messages_logged",
              "value": "={{ $('Prepare Conversation Data').item.json.total_messages }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "name": "Session End Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        380
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Agent Session Webhook": {
      "main": [
        [
          {
            "node": "Transform Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session End Webhook": {
      "main": [
        [
          {
            "node": "Transform Session End Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Session Data": {
      "main": [
        [
          {
            "node": "Create Session in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Session End Data": {
      "main": [
        [
          {
            "node": "Get Session Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Session in Database": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session Conversations": {
      "main": [
        [
          {
            "node": "Prepare Conversation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Conversation Data": {
      "main": [
        [
          {
            "node": "Check If Messages Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Messages Exist": {
      "main": [
        [
          {
            "node": "Split Conversation Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End Session in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Conversation Messages": {
      "main": [
        [
          {
            "node": "Log Individual Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Individual Message": {
      "main": [
        [
          {
            "node": "Check If All Messages Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If All Messages Processed": {
      "main": [
        [
          {
            "node": "End Session in Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Conversation Messages",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "End Session in Database": {
      "main": [
        [
          {
            "node": "Session End Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03446dfe-7a04-4f9e-9673-c5265c68c25c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac197806a966aef7a32a37f88a86659b96901c5596e657b15fe03671fab2eec0"
  },
  "id": "g0GEZOlcWm3bYvE9",
  "tags": [
    {
      "createdAt": "2025-07-05T15:56:56.588Z",
      "updatedAt": "2025-07-05T15:56:56.588Z",
      "id": "wziWqzrMJF7yBPeO",
      "name": "Agent Automation"
    }
  ]
}