Agent Session Logger.json
{
  "name": "Agent Session Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-logger",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "8a01c88f-633e-4944-ad21-ee3dd0fbbe34",
      "name": "Agent Session Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        260
      ],
      "webhookId": "45165d52-770a-440a-a4b7-2e628218c29b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agent_type",
              "name": "agent_type",
              "value": "={{ $json.body.agent_type || 'claude-code' }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.body.user_id || 'local_user' }}",
              "type": "string"
            },
            {
              "id": "project",
              "name": "project",
              "value": "={{ $json.body.project || 'finderskeepers-v2' }}",
              "type": "string"
            },
            {
              "id": "context",
              "name": "context",
              "value": "={{ $json.body.context }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "10b19caa-5161-4c57-86de-ba3b0fb0bb63",
      "name": "Transform Session Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fk2_fastapi/api/diary/sessions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"agent_type\": \"{{ $('Transform Session Data').item.json.agent_type }}\",\n    \"user_id\": \"{{ $('Transform Session Data').item.json.user_id }}\",\n    \"project\": \"{{ $('Transform Session Data').item.json.project }}\",\n    \"context\": {{ JSON.stringify($('Transform Session Data').item.json.context) }}\n}",
        "options": {}
      },
      "id": "3d0d3f6f-b734-489a-965a-2f6311bc82d5",
      "name": "Notify FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Agent session logged successfully",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $('Notify FastAPI').item.json.data.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e6bbb122-7aeb-46a2-bdb7-d80cf50d6ac8",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Agent Session Webhook": {
      "main": [
        [
          {
            "node": "Transform Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Session Data": {
      "main": [
        [
          {
            "node": "Notify FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify FastAPI": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03446dfe-7a04-4f9e-9673-c5265c68c25c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac197806a966aef7a32a37f88a86659b96901c5596e657b15fe03671fab2eec0"
  },
  "id": "g0GEZOlcWm3bYvE9",
  "tags": [
    {
      "createdAt": "2025-07-05T15:56:56.588Z",
      "updatedAt": "2025-07-05T15:56:56.588Z",
      "id": "wziWqzrMJF7yBPeO",
      "name": "Agent Automation"
    }
  ]
}