Agent Action Tracker.json
{
  "name": "Agent Action Tracker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-actions",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "e27868b4-04b0-4fa4-9d81-c05df9858921",
      "name": "Agent Action Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        240
      ],
      "webhookId": "b8f20346-acff-49d2-b23f-8c66d67cd800"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "action_id",
              "name": "action_id",
              "value": "={{ $json.body.action_id || 'action_' + $uuid }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $json.body.session_id || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "action_type",
              "name": "action_type",
              "value": "={{ $json.body.action_type || 'command' }}",
              "type": "string"
            },
            {
              "id": "description",
              "name": "description",
              "value": "={{ $json.body.description || 'Action performed by agent' }}",
              "type": "string"
            },
            {
              "id": "details",
              "name": "details",
              "value": "={{ $json.body.details }}",
              "type": "object"
            },
            {
              "id": "files_affected",
              "name": "files_affected",
              "value": "={{ $json.body.files_affected }}",
              "type": "array"
            },
            {
              "id": "success",
              "name": "success",
              "value": "={{ $json.body.success !== undefined ? $json.body.success : true }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "ad4376a0-51a0-4631-9c4c-aced114a76c1",
      "name": "Transform Action Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fk2_fastapi/api/diary/actions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"action_id\": \"{{ $('Transform Action Data').item.json.action_id }}\",\n    \"session_id\": \"{{ $('Transform Action Data').item.json.session_id }}\",\n    \"action_type\": \"{{ $('Transform Action Data').item.json.action_type }}\",\n    \"description\": \"{{ $('Transform Action Data').item.json.description }}\",\n    \"details\": {{ JSON.stringify($('Transform Action Data').item.json.details) }},\n    \"files_affected\": {{ JSON.stringify($('Transform Action Data').item.json.files_affected) }},\n    \"success\": {{ $('Transform Action Data').item.json.success }}\n}",
        "options": {}
      },
      "id": "5817bad3-65fd-4a20-b8da-850d69e6c4c8",
      "name": "Notify FastAPI Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Agent action logged successfully",
              "type": "string"
            },
            {
              "id": "action_id",
              "name": "action_id",
              "value": "={{ $('Notify FastAPI Actions').item.json.data.action_id }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $('Transform Action Data').item.json.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "96ad7361-97df-4a9c-8657-650cbcb106ad",
      "name": "Action Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Agent Action Webhook": {
      "main": [
        [
          {
            "node": "Transform Action Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Action Data": {
      "main": [
        [
          {
            "node": "Notify FastAPI Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify FastAPI Actions": {
      "main": [
        [
          {
            "node": "Action Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0fa04010-2e1d-4e65-bb59-41dbd17e9778",
  "meta": {
    "instanceId": "ac197806a966aef7a32a37f88a86659b96901c5596e657b15fe03671fab2eec0"
  },
  "id": "g5S4zSSdSaTujRDU",
  "tags": [
    {
      "createdAt": "2025-07-05T15:56:56.588Z",
      "updatedAt": "2025-07-05T15:56:56.588Z",
      "id": "wziWqzrMJF7yBPeO",
      "name": "Agent Automation"
    }
  ]
}